<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- Set the root logger level and attach appenders -->
	<root>
		<level value="ALL" />
		<appender-ref ref="file" />
		<appender-ref ref="trace" />
		<appender-ref ref="console" />
	</root>

	<!-- Define an appender that writes logs to a file -->
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="logfile.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Define an appender that writes logs to the trace (Visual Studio Output) -->
	<appender name="trace" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Define an appender that writes logs to the console (JetBrains Rider) -->
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>